<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('挑战称号记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>归属称号：</p>
                                <input type="text" name="guishuchenghao"/>
                            </li>
                            <li>
                                <p>挑战时间：</p>
                                <input type="text" name="tiaozhanshijian"/>
                            </li>
                            <li>
                                <p>挑战进度：</p>
                                <input type="text" name="tiaozhanjindu"/>
                            </li>
                            <li>
                                <p>完成分值：</p>
                                <input type="text" name="wanchengfenzhi"/>
                            </li>
                            <li>
                                <p>挑战者：</p>
                                <input type="text" name="tiaozhanzhe"/>
                            </li>
                            <li>
                                <p>挑战评价：</p>
                                <input type="text" name="tiaozhanpingjia"/>
                            </li>
                            <li>
                                <p>挑战时长：</p>
                                <input type="text" name="tiaozhanshizhang"/>
                            </li>
                            <li>
                                <p>消耗体力：</p>
                                <input type="text" name="xiaohaotili"/>
                            </li>
                            <li>
                                <p>扩1：</p>
                                <input type="text" name="kuo1"/>
                            </li>
                            <li>
                                <p>扩2：</p>
                                <input type="text" name="kuo2"/>
                            </li>
                            <li>
                                <p>扩3：</p>
                                <input type="text" name="kuo3"/>
                            </li>
                            <li>
                                <p>扩4：</p>
                                <input type="text" name="kuo4"/>
                            </li>
                            <li>
                                <p>扩5：</p>
                                <input type="text" name="kuo5"/>
                            </li>
                            <li>
                                <p>扩6：</p>
                                <input type="text" name="kuo6"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:medalRecord:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:medalRecord:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:medalRecord:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:medalRecord:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:medalRecord:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:medalRecord:remove')}]];
        var prefix = ctx + "system/medalRecord";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "挑战称号记录",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id',
                    title : '编号',
                    visible: false
                },
                {
                    field : 'guishuchenghaoName',
                    title : '称号'
                },
                {
                    field : 'tiaozhanshijian',
                    title : '挑战时间'
                },
                {
                    field : 'tiaozhanjindu',
                    title : '挑战进度'
                },
                {
                    field : 'wanchengfenzhi',
                    title : '完成分值'
                },
                {
                    field : 'tiaozhanzhe',
                    title : '挑战者'
                },
                {
                    field : 'tiaozhanpingjia',
                    title : '挑战评价'
                },
                {
                    field : 'tiaozhanshizhang',
                    title : '挑战时长'
                },
                {
                    field : 'xiaohaotili',
                    title : '消耗体力'
                },
                {
                    field : 'kuo1',
                    title : '扩1'
                },
                {
                    field : 'kuo2',
                    title : '扩2'
                },
                {
                    field : 'kuo3',
                    title : '扩3'
                },
                {
                    field : 'kuo4',
                    title : '扩4'
                },
                {
                    field : 'kuo5',
                    title : '扩5'
                },
                {
                    field : 'kuo6',
                    title : '扩6'
                },
                {
                    field : 'remark',
                    title : '备注信息'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
