<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改完成情况')" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-finish-edit" th:object="${ywMedalJobRecord}">
            <input name="id" th:field="*{id}" type="hidden">
            <input name="renwubianhao" th:field="*{renwubianhao}" class="form-control" type="hidden">
            <input name="tiaozhanzhe" th:field="*{tiaozhanzhe}" class="form-control" type="hidden">
            <input name="wanchengfenzhi" th:field="*{wanchengfenzhi}" class="form-control" type="hidden">
            <input name="kuo2" th:field="*{kuo2}" class="form-control" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">完成内容：</label>
                <div class="col-sm-8">
                    <input name="remark" id="remark" th:field="*{remark}" class="form-control" type="hidden">
                    <div id="editor" class="summernote"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">任务评价：</label>
                <div class="col-sm-8">
                    <input name="tiaozhanpingjia" id="tiaozhanpingjia" th:field="*{tiaozhanpingjia}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/job";
        $("#form-finish-edit").validate({
            focusCleanup: true
        });


        $('.summernote').summernote({
            placeholder: '请输入完成内容',
            height : 192,
            lang : 'zh-CN',
            followingToolbar: false,
            callbacks: {
                onImageUpload: function (files) {
                    sendFile(files[0], this);
                }
            }
        });
        var content = $("#remark").val();
        $('#editor').summernote('code', content);
        function submitHandler() {
            if ($.validate.form()) {
                var sHTML = $('.summernote').summernote('code');
                $("#remark").val(sHTML);
                $.operate.save(prefix + "/finished", $('#form-finish-edit').serialize());
            }
        }
    </script>
</body>
</html>
